.featuredProducts{
    margin: 100px 200px;
    .top{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            flex: 2;
            text-transform: capitalize;
        }
        p{
            flex: 3;
            color: gray;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}